Form Button {
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    color:#7e22ce ;
}
.myborder{
    margin-bottom: 10px;
    border-bottom:1px solid #a855f7 ;
}

h6 {
    color: greenyellow;
}

.joinBtn{
    background: linear-gradient(135deg, #a855f7 0%, #7e22ce 100%);
}

.app {
    margin: auto;
    padding-top: 40px;
    width: 950px;
    text-align: center;
}

.lobby {
    width: 400px;
    margin: auto;
}

.chat {
    display: grid;
}

.leave-room {
    text-align: right;
    margin-bottom: 4px;
}

.user-list {
    float: left;
    background: linear-gradient(135deg, #a855f7 0%, #ffffff 100%);
    color:white;
    width: 200px;
    height: 480px;
    margin-right: 3px;
    padding: 8px;
}

.message-container {
    height: 400px;    
    background-color: white;
    overflow: auto;
    border-radius: 5px;
    margin-bottom: 2px;
}

.user-message {
    text-align: right;
    padding-right: 5px;
    font-size: 18px;
}

.message {
    display: inline-flex;
    margin: 0px auto 0px auto;
    padding: 8px 20px;
    margin-bottom: 4px;
    font-size: 18px;
    color:white;
    border-radius: 20px;
    margin-top: 7px;
    background: linear-gradient(135deg, #a855f7 0%, #7e22ce 100%) !important;
}

.from-user {
    font-size: small;
    margin-bottom: 3px;
    margin-right: 5px;
}

.leave-room Button{
    background-color: black;
}